# 基于yolo v5建议环境
# 笔者的环境都基于Windows10，截止至3.5 14：52，配置与环境如下
# 主力：TITAN X 12G ，3060 6G ，Tesla T4 16G

# 系统环境 ---------------------------------
cuda = 11.6
cudnn = 11.6
NVCC = 11.6
python = 3.8

# 基础配置 ----------------------------------------
matplotlib = 3.5.1
numpy = 1.22.2
opencv-python = 4.5.5.62
Pillow = 9.0.1
PyYAML = 6.0
requests = 2.27.1
scipy = 1.8.0
torch = 1.10.2 + cu114
torchvision = 0.11.3 + cu114
tqdm = 4.62.3

# 数据查看，训练梯度观察 -------------------------------------
tensorboard = 2.8.0

# 对目标进行标记 ------------------------------------
pandas = 1.4.1
seaborn = 0.11.2

# 数据输出 --------------------------------------
tensorflow = 2.3.0 


# 数据增强 --------------------------------------
pycocotools = 2.0.4
thop = 0.0.31
